{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'Login/css/style.css' %}">
</head>
<body>
 <form method="POST" action ="loginpage/" class="login-form" id="login-form">
   {% csrf_token %}
 <div class="main">
		<section class="sign-in">
					<div class="container">
						<div class="signin-content">
							<div class="signin-image">
								<figure><img src="{% static 'Login/images/signin-image.jpg' %}" alt="sing up image"></figure>
								<a href="{% url 'signup' %}" class="signup-image-link">Create an account</a>
							</div>

							<div class="signin-form">
								<h2 class="form-title">Login</h2>
								<form method="POST" class="register-form" id="login-form">
									<div class="form-group">
										<label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
										<input type="text" name="your_name" id="your_name" placeholder="Email" autocomplete="off"/>
									</div>
									<div class="form-group">
										<label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
										<input type="password" name="your_pass" id="your_pass" placeholder="Password" autocomplete="off"/>
									</div>
<!--									<div class="form-group">-->
<!--										<input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />-->
<!--										<label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>-->
<!--									</div>-->

									<div class="form-group form-button">
										<script src='https://www.google.com/recaptcha/api.js'></script>
										<div id="grecaptcha" class="g-recaptcha" data-sitekey="6Lf_dtsiAAAAAI9L_5GkcLCXZcMk2FDPvvNO8avz"  data-callback="correctCaptcha"></div>
										<input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>

									</div>
<!--<h3><a href=#>forget password?</a></h3>-->
								</form>
							</div>
						</div>
					</div>
				</section>

			</div>
 </form>

			<!-- JS -->
			<script src="{% static 'Login/vendor/jquery/jquery.min.js' %}"></script>
			<script src="{% static 'Login/js/main.js' %}"></script>
		</body>
</html>