{% extends 'home/main.html' %}
{% load static %}


{% block content %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
	
			<div class="single">  
				<div class="form-container">
					<h2>Reset Password</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'Message.html' %}
						{% csrf_token %}
						<div class="form-group">
							<label class="col-md-3 control-lable" for="New Password">New Password</label>
							<input type="password" class="password" id="password" name="password"
								placeholder="Password">
							<span class="text-danger" id="log-passwd"> </span><br>
							<label class="col-md-3 control-lable" for="Confirm Password">Confirm Password</label>
							<input type="password" class="password" id="confirm_password" name="confirm_password"
								placeholder="Confirm Password">
							<span class="text-danger" id="log-confirm"> </span><br>
						</div>
						<div class="row">
							<div class="form-actions floatRight">
								<input type="submit" value="Reset Password" class="btn btn-primary btn-sm">
							</div>
						</div>
		
					</form>

					<p class="account">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/log2.jpg' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function resetValidate() {
		var password = document.getElementById('password').value;
		var c_password = document.getElementById('c-password').value;
		var form = document.getElementById('logform');

		const isPasswordSecure = (password) => {
			const re = new RegExp(
				"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
			);
			return re.test(password);
		};

		if (password == "") {
			document.getElementById("log-passwd").textContent = "***Please provide password";
			document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";


			return false;
		} else if (isPasswordSecure(password) == false) {
			document.getElementById("log-passwd").textContent = "***Please provide valid password";
			document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";

			return false;
		} else if (confirm_password == "") {
			document.getElementById('log-confirm').textContent = "Please enter your confirm password";
			document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";


			return false;
		} else if (password != confirm_password) {
			document.getElementById('log-confirm').textContent = "Password does not match";
			document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";

			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>




{% endblock  %}
