{% extends 'home/main.html' %}
{% load static %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'store/storemain.css' %}">
<style>
    img.thumbnail{
    margin-top:55px;
    margin-right:25px;
    }
</style>
    <div class="row">
<!--		 <form method="POST" action = "loginpage/" class="login-form" id="login-form">-->
		{% for data in datas %}
		<div class="col-lg-4">

			<img class="thumbnail" src="{{data.imageURL}}">
		    <div class="box-element product">
				
			    <h6><strong>Name:{{data.Product_name}}</strong></h6>
			    <hr>
				<h6><strong>Quantity:{{data.quantity}} &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Addded Date:{{data.adddate}}  </strong></h6>
				<hr>
				<h6><strong >Expiry Date:{{data.expirydate}}</strong></h6>
				<hr>
<!--				<h6><strong></strong></h6>-->
<!--				<hr>-->



				<button data-product={{data.id}}  data-action="add"  class="btn btn-outline-secondary add-btn update-cart">
				<a class="btn btn-outline-success" href="{% url 'AddCart' data.id %}">Add to Cart</a></button>
<!--				<a class="btn btn-outline-success" href="#">View</a>-->

				<h4 style="display: inline-block;float:right"><strong class="qty" id="qty_sugar">Rs.{{data.price|floatformat:2}}</strong></h4>

		 	</div>
		</div>
		{% endfor %}
		{% for messages in messages %}
		<h3 style="color:beige;"></h3>
		{% endfor %}
	</div>

{% endblock content %}

