    {% extends 'home/main.html' %}
{% load static %}
{% block content %}
	<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static 'store/main.css' %}">
<title>Cart</title>
</head>
<body class="bg-light">
<div class="container-fluid">
<div class="row">
<div class="col-md-10 col-11 mx-auto">
<div class="row mt-5 gx-3">
<!-- left side div -->
<div class="col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5 shadow">
<div class="card p-4">
<h2 class="py-4 font-weight-bold">{{order.get_cart_items}}</h2>
<div class="row">
<!-- cart images div -->
	{% for item in items %}
<div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">
<img src="{{item.product.imageURL}}" class="img-fluid" alt="cart img">
</div>


<!-- cart product details -->
<div class="col-md-7 col-11 mx-auto px-4 mt-2">
<div class="row">
<!-- product name  -->
<div class="col-6 card-title">
<h1 class="mb-4 product_name">{{item.product.Product_name}}</h1>
<p class="mb-2">PRICE:{{item.product.price|floatformat:2}}$</p>
<p class="mb-2">TOTAL QUANTITY-{{item.product.quantity}}KG</p>
<p class="mb-3">EXPIRY DATE: {{item.product.expirydate}}</p>

</div>
<!-- quantity inc dec  -->
<div class="col-6">
<ul class="pagination justify-content-end set_quantity">
<li class="page-item">
	<a href="{% url 'minusqty' item.id %}">
<button class="page-link " onclick="decreaseNumber('textbox{{item.product.id}}','itemval{{item.product.id}}')">
<i class="fas fa-minus"></i> </button></a>
</li>
<li class="page-item"><input type="text" name="" class="page-link" value="{{item.quantity}}" id="textbox{{item.product.id}}" >
</li>
<li class="page-item">
<a href="{% url 'plusqty' item.id %}">
<button class="page-link"  onclick="increaseNumber('textbox{{item.product.id}}','itemval{{item.product.id}}')"> <i class="fas fa-plus"></i></button>
</a>
</li>
</ul>
</div>
</div>
<!-- //remover move and price -->
<div class="row">
<div class="col-8 d-flex justify-content-between remove_wish">
	<p><a href="{% url 'RemoveCart' item.id %}"></a><i class="fas fa-trash-alt" ></i><a href="{% url 'RemoveCart' item.id %}"> REMOVE ITEM</p></a>
<!--<p><i class="fas fa-heart"></i>MOVE TO WISH LIST </p>-->
</div>
<div class="col-4 d-flex justify-content-end price_money">
<h3>Rs.<span id="itemval{{item.product.id}}">{{item.total}}</span></h3>
</div>
</div>
</div>
</div>
</div>
<hr/>

<!-- 2nd cart product -->
<div class="card p-4">
<div class="row">
	{% endfor %}
<!-- cart images div-->
<!--<div class="col-md-5 col-11 mx-auto bg-light d-flex justify-content-center align-items-center shadow product_img">-->
<!--<img src="images/img3.png" class="img-fluid" alt="cart img">-->
<!--</div>-->




<!-- cart product details -->
<div class="col-md-7 col-11 mx-auto px-4 mt-2">
<div class="row">
<!-- product name  -->
<div class="col-6 card-title">
<h1 class="mb-4 product_name"></h1>
<!--<p class="mb-2"></p>-->
<!--<p class="mb-2">COLOR: Green</p>-->
<!--<p class="mb-3">SIZE: M</p>-->
<!--</div>-->
<!--&lt;!&ndash; quantity inc dec &ndash;&gt;-->
<!--<div class="col-6">-->
<!--<ul class="pagination justify-content-end set_quantity">-->
<!--<li class="page-item">-->
<!--<button class="page-link " onclick="decreaseNumber('textbox1','itemval1')"> <i class="fas fa-minus"></i> </button>-->
<!--</li>-->
<!--<li class="page-item"><input type="text" name="" class="page-link" value="0" id="textbox1" >-->
<!--</li>-->
<!--<li class="page-item">-->
<!--<button class="page-link" onclick="increaseNumber('textbox1','itemval1')"> <i class="fas fa-plus"></i></button>-->
<!--</li>-->
</ul>
</div>
</div>
<!-- //remover move and price -->
<div class="row">
<div class="col-8 d-flex justify-content-between remove_wish">
<!--<p><i class="fas fa-trash-alt"></i> REMOVE ITEM</p>-->
<!--<p><i class="fas fa-heart"></i>MOVE TO WISH LIST </p>-->
</div>
<div class="col-4 d-flex justify-content-end price_money">
<!--<h3>$<span id="itemval1">0.00 </span> </h3>-->
</div>
</div>
</div>
</div>
</div>
</div>
<!-- right side div -->
<div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5">
<div class="right_side p-3 shadow bg-white">
<h2 class="product_name mb-5">The Total Amount Of</h2>
<div class="price_indiv d-flex justify-content-between">
<p>Product amount</p>

<p>$<span id="product_total_amt">{{total}}</span></p>

</div>
<div class="price_indiv d-flex justify-content-between">
<p>Shipping Charge</p>
<p>$<span id="shipping_charge">50.0</span></p>
</div>
<hr />
<div class="total-amt d-flex justify-content-between font-weight-bold">
<p>The total amount of (including VAT)</p>
<p>$<span id="total_cart_amt">0.00</span></p>

</div>
	<a href="{% url 'Checkout'%}"><button class="btn btn-primary text-uppercase" >Checkout</button></a>
</div>
<!--&lt;!&ndash; discount code part &ndash;&gt;-->
<!--<div class="discount_code mt-3 shadow">-->
<!--<div class="card">-->
<!--<div class="card-body">-->
<!--<a class="d-flex justify-content-between" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
<!--Add a discount code (optional)-->
<!--<span><i class="fas fa-chevron-down pt-1"></i></span>-->
<!--</a>-->
<!--<div class="collapse" id="collapseExample">-->
<!--<div class="mt-3">-->
<!--<input type="text" name="" id="discount_code1" class="form-control font-weight-bold" placeholder="Enter the discount code">-->
<!--<small id="error_trw" class="text-dark mt-3">code is thapa</small>-->
<!--</div>-->
<!--<button class="btn btn-primary btn-sm mt-3" onclick="discount_code()">Apply</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->




<!--&lt;!&ndash; discount code ends &ndash;&gt;-->
<!--<div class="mt-3 shadow p-3 bg-white">-->
<!--<div class="pt-4">-->
<!--<h5 class="mb-4">Expected delivery date</h5>-->
<!--<p>July 27th 2020 - July 29th 2020</p>-->
<!--</div>-->
<!--</div>-->
</div>
</div>
</div>
</div>
</div>
<!-- Optional JavaScript -->
<!-- Popper.js first, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<!--{% for item in items %}-->
<!--<script type="text/javascript">-->

<!--var product_total_amt = document.getElementById('product_total_amt');-->
<!--var shipping_charge = document.getElementById('shipping_charge');-->
<!--var total_cart_amt = document.getElementById('total_cart_amt');-->
<!--var discountCode = document.getElementById('discount_code1');-->
<!--const decreaseNumber = (incdec, itemprice) => {-->
<!--var itemval = document.getElementById(incdec);-->
<!--var itemprice = document.getElementById(itemprice);-->
<!--console.log( itemprice.innerHTML);-->
<!--// console.log(itemval.value);-->
<!--if(itemval.value <= 0){-->
<!--itemval.value = 0;-->
<!--alert('Negative quantity not allowed');-->
<!--}else{-->
<!--itemval.value = parseInt(itemval.value) - 1;-->
<!--itemval.style.background = '#fff';-->
<!--itemval.style.color = '#000';-->
<!--itemprice.innerHTML  = parseInt(itemprice.innerHTML) - {{item.product.price}};-->
<!--product_total_amt.innerHTML  = parseInt(product_total_amt.innerHTML) - {{item.product.price}};-->
<!--total_cart_amt.innerHTML  = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);-->
<!--}-->
<!--}-->
<!--const increaseNumber = (incdec, itemprice) => {-->
<!--var itemval = document.getElementById(incdec);-->
<!--var itemprice = document.getElementById(itemprice);-->
<!--// console.log(itemval.value);-->
<!--if(itemval.value >= {{item.product.quantity}}){-->
<!--itemval.value = {{item.product.quantity}};-->
<!--alert('max quantity allowed');-->
<!--itemval.style.background = 'red';-->
<!--itemval.style.color = '#fff';-->
<!--}else{-->
<!--itemval.value = parseInt(itemval.value) + 1;-->
<!--itemprice.innerHTML  = parseInt(itemprice.innerHTML ) + {{item.product.price}};-->
<!--product_total_amt.innerHTML  = parseInt(product_total_amt.innerHTML) + {{item.product.price}};-->
<!--total_cart_amt.innerHTML  = parseInt(product_total_amt.innerHTML) + parseInt(shipping_charge.innerHTML);-->
<!--}-->
<!--}-->


<!--const  discount_code = () => {-->
<!--let totalamtcurr = parseInt(total_cart_amt.innerHTML);-->
<!--let error_trw = document.getElementById('error_trw');-->
<!--if(discountCode.value === 'thapa'){-->
<!--let newtotalamt = totalamtcurr - 15;-->
<!--total_cart_amt.innerHTML = newtotalamt;-->
<!--error_trw.innerHTML = "Hurray! code is valid";-->
<!--}else{-->
<!--error_trw.innerHTML = "Try Again! Valid code is thapa";-->
<!--}-->
<!--}-->
<!--</script>-->
<!--{% endfor %}-->
</body>
</html>
{% endblock content %}