{% extends 'home/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% block content %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CustomerProfile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Favicons -->
  <link href="{% static 'admin/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'admin/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'admin/assets/vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin/assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{user.imageURL}}" alt="Profile" class="rounded-circle">
              <h2>{{user.first_name}} {{user.last_name}}</h2>
              <h3>{{user.role}}</h3>
<!--              <div class="social-links mt-2">-->
<!--                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>-->
<!--                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>-->
<!--                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>-->
<!--                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>-->
<!--              </div>-->
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#Address">Address</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic"></p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                    <div class="col-lg-9 col-md-8">{{user.first_name}}</div>
                  </div>
                    <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Last Name</div>
                    <div class="col-lg-9 col-md-8">{{user.last_name}}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Title</div>
                    <div class="col-lg-9 col-md-8">{{user.role}}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">{{user.phone_no}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{user.email}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" action = "Updatecustomer" class="update-form" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="{{user.imageURL}}" alt="Profile">
                        <div class="pt-2" style="display: flex;">
                          <a input type="file" name="p_image_select" id="p_image_select" autofocus="false" autocomplete="off"  accept="image/x-png,image/gif,image/jpeg" class="btn btn-primary btn-sm" title="Upload new profile image" ><i class="bi bi-upload"></i></>
                           <input type="file" name="pimage" hidden autofocus="false"  autocomplete="off" class="form-control" id="myFileInput" accept="image/*"> <br>
                             <span id="imageError" style="color:red;"></span>

                          <a href="#" style="margin-left: 10px;" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="firstname" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="firstname" type="text" class="form-control" id="firstname" value="{{user.first_name}}"  onkeyup="fnameValidation(this)" required pattern="^[a-zA-Z\s]+$"
                                oninvalid="setCustomValidity('Invalid firstname')"
                                oninput="setCustomValidity('')"
                                maxlength= "30">
                                <span id="fname" class="new" style="color:red;"></span>

                      </div>
                    </div>
                      <div class="row mb-3">
                      <label for="lastname" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="lastname" type="text" class="form-control" id="lastname" value="{{user.last_name}}"  onkeyup="lnameValidation(this)" required pattern="^[a-zA-Z]+$"
                                oninvalid="setCustomValidity('Invalid lastname')"
                                oninput="setCustomValidity('')"
                                maxlength= "30">
                                <span id="lname" class="new" style="color:red;"></span>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="role" class="col-md-4 col-lg-3 col-form-label">role</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="role" type="text" class="form-control" id="role" value="{{user.role}}" readonly>
                      </div>
                    </div>



                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value="{{user.phone_no}}"  onkeyup="phoneValidation(this)" required pattern="[6-9]{1}[0-9]{9}"
                        oninvalid="setCustomValidity('Invalid phone')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="phone1" class="new" style="color:red;"></span>

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="{{user.email}}" onkeyup="emailValidation(this)" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                        oninvalid="setCustomValidity('Invalid mail')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="mail" class="new" style="color:red;"></span>
                      </div>
                    </div>

<!--                    <div class="row mb-3">-->
<!--                      <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>-->
<!--                      <div class="col-md-8 col-lg-9">-->
<!--                        <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="row mb-3">-->
<!--                      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>-->
<!--                      <div class="col-md-8 col-lg-9">-->
<!--                        <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="row mb-3">-->
<!--                      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>-->
<!--                      <div class="col-md-8 col-lg-9">-->
<!--                        <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="row mb-3">-->
<!--                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>-->
<!--                      <div class="col-md-8 col-lg-9">-->
<!--                        <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">-->
<!--                      </div>-->
<!--                    </div>-->

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
                <div class="tab-pane fade profile-edit pt-3" id="Address">

                  <!-- Profile Edit Form -->
                  <form method="POST" action = "Addaddress" class="update-form" enctype="multipart/form-data" id="Address-form">
                    {% csrf_token %}


                    <div class="row mb-4">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="Address" type="text" class="form-control" id="Addres" value="{{address.address}}" onkeyup="addValidation(this)" required pattern="^[a-zA-Z\s]+$"
                         oninvalid="setCustomValidity('Invalid address')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="add" class="new" style="color:red;"></span>
                      </div>
                    </div>
                        <div class="row mb-2">
                      <label for="District" class="col-md-4 col-lg-3 col-form-label">District</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="District" type="text" class="form-control" id="District" value="{{address.district}}" onkeyup="disValidation(this)" required pattern="^[a-zA-Z]+$"
                           oninvalid="setCustomValidity('Invalid distrct')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="dis" class="new" style="color:red;"></span>
                      </div>
                    </div>
                      <div class="row mb-4">
                      <label for="Panchayat" class="col-md-4 col-lg-3 col-form-label">Panchayat</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="panchayat" type="text" class="form-control" id="Panchayat" value="{{address.panchayat}}" onkeyup="panValidation(this)" required pattern="^[a-zA-Z\s]+$"
                          oninvalid="setCustomValidity('Invalid panchayat')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="pan" class="new" style="color:red;"></span>
                      </div>
                    </div>

                    <div class="row mb-4">
                      <label for="city" class="col-md-4 col-lg-3 col-form-label">City</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="city" type="text" class="form-control" id="city" value="{{address.city}}" onkeyup="citValidation(this)" required pattern="^[a-zA-Z\s]+$"
                            oninvalid="setCustomValidity('Invalid city')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="cit" class="new" style="color:red;"></span>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <label for="landmark" class="col-md-4 col-lg-3 col-form-label">Landmark</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="landmark" type="text" class="form-control" id="landmark" value="{{address.landmark}}"  onkeyup="lanValidation(this)" required pattern="^[a-zA-Z\s]+$"
                            oninvalid="setCustomValidity('Invalid landmark')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                        <span id="lan" class="new" style="color:red;"></span>
                      </div>
                    </div>



                     <div class="row mb-4">
                      <label for="Pincode" class="col-md-4 col-lg-3 col-form-label">Pincode</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="pincode" type="text" class="form-control" id="Pincode" value="{{address.pin}}" onkeyup="pinValidation(this)" required pattern="^[6][0-9]{5}$"
                           oninvalid="setCustomValidity('Invalid pincode')"
                                oninput="setCustomValidity('')"
                                maxlength= "30" required>
                                 <span id="pin" class="new" style="color:red;"></span>


                      </div>
                    </div>


                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>


<!--                <div class="tab-pane fade pt-3" id="profile-settings">-->

<!--                  &lt;!&ndash; Settings Form &ndash;&gt;-->
<!--                  <form>-->

<!--                    <div class="row mb-3">-->
<!--                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>-->
<!--                      <div class="col-md-8 col-lg-9">-->
<!--                        <div class="form-check">-->
<!--                          <input class="form-check-input" type="checkbox" id="changesMade" checked>-->
<!--                          <label class="form-check-label" for="changesMade">-->
<!--                            Changes made to your account-->
<!--                          </label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                          <input class="form-check-input" type="checkbox" id="newProducts" checked>-->
<!--                          <label class="form-check-label" for="newProducts">-->
<!--                            Information on new products and services-->
<!--                          </label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                          <input class="form-check-input" type="checkbox" id="proOffers">-->
<!--                          <label class="form-check-label" for="proOffers">-->
<!--                            Marketing and promo offers-->
<!--                          </label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                          <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>-->
<!--                          <label class="form-check-label" for="securityNotify">-->
<!--                            Security alerts-->
<!--                          </label>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="text-center">-->
<!--                      <button type="submit" class="btn btn-primary">Save Changes</button>-->
<!--                    </div>-->
<!--                  </form>&lt;!&ndash; End settings Form &ndash;&gt;-->

<!--                </div>-->

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="POST" action = "Changepassword" class="register-form" id="register-form">
                    {% csrf_token %}

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="cpassword" type="password" class="form-control" onkeyup="curpasswordValidation(this)" placeholder="Enter you current Password" id="currentPassword" required>
                        <span id="cpass" class="new" style="color:red;"></span>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label  class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword" onkeyup='passwordValidation(this)' placeholder="Enter a new Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z]).{8,}"
  title="Must contain at least one  number and one uppercase and lowercase letter and special character and must contain 8field" >
                      <span id="pass1" class="new" style="color:red;"></span>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" onkeyup='cpasswordValidation(this)' placeholder="Enter your new Password again" class="form-control" id="renewPassword">
                         <span id="pass2" class="new" style="color:red;"></span>
                      </div>
                    </div>

                    <div class="text-center">

                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>
              </div><!-- End Bordered Tabs -->
             </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/chart.js/chart.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'admin/assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.js" integrity="sha512-6DC1eE3AWg1bgitkoaRM1lhY98PxbMIbhgYCGV107aZlyzzvaWCW1nJW2vDuYQm06hXrW0As6OGKcIaAVWnHJw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'admin/assets/js/main.js' %}"></script>

<script>

  $("#p_image_select").click(function(){
    $("#myFileInput").click();
  });

  $('#pImage').click(function(){
      $('#p_image_select').click();
  });
        function allownums(a)
{

if(a < 1 ||a > 15)
alert("invalid")
else
alert("vaild")
}


</script>
<script>

function curpasswordValidation(inputTxt){

    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("cpass");

    if(inputTxt.value != '' ){

    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}

function passwordValidation(inputTxt){

    var regx = /(?=.*\d)(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z]).{8,}/;
    var textField = document.getElementById("pass1");

    if(inputTxt.value != '' ){
            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";


            }else{
                textField.textContent = 'Must contain at least one number and one uppercase and lowercase letter and aleast 5 characters';
                textField.style.color = "red";

            }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}
function cpasswordValidation(inputTxt) {

  var regx = document.getElementById("newPassword").value;
  var regy = document.getElementById("renewPassword").value;
  var textField = document.getElementById("pass2");
  var textField1 = document.getElementById("pass1");

  if (inputTxt.value != '') {
    if (regx == regy) {
      textField.textContent = '';
      textField.style.color = "green";



    } else {
      textField.textContent = 'Entered to passwords are not same!!';
      textField.style.color = "red";


    }
  } else {
    textField.textContent = '';
    textField.style.color = "red";


  }
}

function fnameValidation(inputTxt){

    var regx = /^[a-zA-Z\s]+$/;
    var textField = document.getElementById("fname");


    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}

function lnameValidation(inputTxt){

    var regx = /^[a-zA-Z]+$/;
    var textField = document.getElementById("lname");
    textField.textContent = '';

    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}

function emailValidation(inputTxt){
    // ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
    var regx = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/;
    var textField = document.getElementById("mail");
    textField.textContent = '';

    if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";


        }else{
            textField.textContent = 'email id  is not valid!!! please insert a valid one';
            textField.style.color = "red";


        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";
    }
}



function pinValidation(inputTxt){
    // ^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$
    regx = /^[6][0-9]{5}$/;
    var textField = document.getElementById("pin");
    textField.textContent = '';

    if(inputTxt.value != '' ){
        if(inputTxt.value.match(regx)){
            textField.textContent = '';
            textField.style.color = "green";


        }else{
            textField.textContent = ' please insert a valid pin';
            textField.style.color = "red";


        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";
    }
}

var input = document.getElementById("myFileInput");
var error = document.getElementById("imageError");

input.addEventListener("change", function() {
  var file = input.files[0];
  var reader = new FileReader();

  reader.onloadend = function() {
    // Check if file is an image
    if (file.type.indexOf("image") !== 0) {
      error.textContent = "Selected file is not an image.";
      input.value = "";
      return;
    }

    // Check if file is too large (max 5 MB)
    if (file.size > 5 * 1024 * 1024) {
      error.textContent = "Selected image is too large. Max size is 5 MB.";
      input.value = "";
      return;
    }

    // Image is valid
    error.textContent = "";
  };

  if (file) {
    reader.readAsDataURL(file);
  }
});


function phoneValidation(inputTxt) {

  var regx = /[6-9]{1}[0-9]{9}/;
  var textField = document.getElementById("phone1");
  textField.textContent = '';

  if (inputTxt.value != '') {

    if ((inputTxt.value.length == 10)) {

      if (inputTxt.value.match(regx)) {
        textField.textContent = '';
        textField.style.color = "green";

      } else {
        textField.textContent = 'please enter a valid number';
        textField.style.color = "red";
      }
    } else {
      textField.textContent = 'your input must be a 10 digit number';
      textField.style.color = "red";
    }
  } else {
    textField.textContent = 'your are not allowed  to leave a field  empty';
    textField.style.color = "red";
  }
}

</script>
<script>
function addValidation(inputTxt){

    var regx = /^[a-zA-Z\s]+$/;
    var textField = document.getElementById("add");


    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}
function disValidation(inputTxt){

    var regx = /^[a-zA-Z]+$/;
    var textField = document.getElementById("dis");


    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}
function panValidation(inputTxt){

    var regx = /^[a-zA-Z\s]+$/;
    var textField = document.getElementById("pan");


    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}
function citValidation(inputTxt){

    var regx = /^[a-zA-Z\s]+$/;
    var textField = document.getElementById("cit");


    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}
function lanValidation(inputTxt){

    var regx = /^[a-zA-Z\s]+$/;
    var textField = document.getElementById("lan");


    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";



            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";


            }
        }else{
            textField.textContent = 'your input must me more than two chracters';
            textField.style.color = "red";

        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";

    }
}



</script>




{% endblock content %}
</body>

</html>