{% extends 'home/main.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'narrow-jumbotron.css' %}" rel="stylesheet">
  </head>
</center>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href=""><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted"></h3>
      </div>

      <div class="jumbotron">
      <center>  <h1 class="display-3">Thank You</h1></center>
      <center>  <p class="lead">You will receive a link to The Product in your email.</p></center>
      </div>

      <footer class="footer">
      <center>  <p>&copy; Store 2017</p></center>
      </footer>

    </div> <!-- /container -->

  </body>
  </center>
{% endblock content %}

</html>