<!DOCTYPE html>
{% extends 'farmer/farmmain.html' %}
{% load static %}
{% block content %}
<html>
<head>
 <title>Seller</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'farmerhome' %}">Seller Forms</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'farmerhome' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><span style="font-size:larger;">Add New</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


 <div class="col-lg-6 m-auto">

 <form method="POST" action="ProductAdd" enctype="multipart/form-data" onsubmit="">
     {% csrf_token %}

 <br><br><div class="card">

 <div class="card-header bg-primary">
 <h1 class="text-white text-center">  Add product </h1>
 </div><br>



 <label> Product Name: </label>
 <input type="text" name="pname" id="pName" autofocus="false" autocomplete="off" onkeyup='nameValidation(this)' class="form-control"  placeholder="Enter Product Name" required pattern="[a-zA-Z]{2,20}"
 oninvalid="setCustomValidity('Invalid Productname')"
                                oninput="setCustomValidity('')"
                                maxlength= "30"> <br>
     <span id="name" class="new" style="color:red;"></span>

 <label> Product Price: </label>
 <input type="text" name="pprice" id="pPrice" autofocus="false" autocomplete="off" onkeyup='priceValidation(this)'class="form-control"  placeholder="Enter Product Price" required pattern="\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?"
 oninvalid="setCustomValidity('Invalid price')"
                                oninput="setCustomValidity('')"
                                maxlength= "30"> <br>
     <span id="price" class="new" style="color:red;"></span>

 <label> Quantity: </label>
 <input type="text" name="quantity" id="quantity" autofocus="false" autocomplete="off" onkeyup='quantityValidation(this)' class="form-control"  placeholder="Enter Product Quantity" required pattern="\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?"
  oninvalid="setCustomValidity('Invalid Quantity')"
                                oninput="setCustomValidity('')"
                                maxlength= "30"> <br>
     <span id="quantity1" class="new" style="color:red;"></span>

 <label> Add date: </label>
 <input type="date" name="adddate" id="adddate" autofocus="false" autocomplete="off" class="form-control"  placeholder="Enter Product add date" required> <br>

 <label> Expiry date: </label>
 <input type="date" name="expiry" id="expiry" autofocus="false" autocomplete="off" class="form-control"  placeholder="Enter Product Expiry date" required> <br>

 <label> Upload Image: </label>
 <input type="file" name="pimage" id="pImage" autofocus="false" autocomplete="off" class="form-control" accept="image/x-png,image/gif,image/jpeg" required > <br>



 <button class="btn btn-success" name="submit"> Submit </button><br>
 <a class="btn btn-info" type="submit" name="cancel" href="{% url 'ProductAdd' %}"> Cancel </a><br>

 </div>

 </form>
 </div>
 <script src="add.js"></script>
<script>
function nameValidation(inputTxt){

    var regx = /^[a-zA-Z]+$/;
    var textField = document.getElementById("name");

    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 2){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'only characters are allowded to insert!';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'your input must more than two chracters';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";
    }
}
function priceValidation(inputTxt){

    var regx = /\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?/;
    var textField = document.getElementById("price");

    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'please enter a valid price';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'Required a mininum single number';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";
    }
}
function quantityValidation(inputTxt){

    var regx = /\d{1,3}(?:[.,]\d{3})*(?:[.,]\d{2})?/;
    var textField = document.getElementById("quantity1");

    if(inputTxt.value != '' ){

        if(inputTxt.value.length >= 1){

            if(inputTxt.value.match(regx)){
                textField.textContent = '';
                textField.style.color = "green";

            }else{
                textField.textContent = 'please enter a valid quantity';
                textField.style.color = "red";
            }
        }else{
            textField.textContent = 'Required a mininum single number';
            textField.style.color = "red";
        }
    }else{
        textField.textContent = 'your are not allowed  to leave a field  empty';
        textField.style.color = "red";
    }
}
</script>
{% endblock content %}
</body>
</html>