<!doctype html>
{% extends 'admin/farmersearchmain.html' %}
{% load static %}
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		{% block content %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section"></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Farmer Table</h4>
	<div class="table-wrap">
						<table class="table">

					      <tr>
					        <th>NAME</th>
					        <th>ADDRESS</th>
					        <th>EMAIL</th>
					        <th>PHONE NUMBER</th>
					        <th>AADHAR</th>
					        <th>APPROVE</th>
					      </tr>


						<p></p>
						{% for value in values %}
					      <tr>

					        <th scope="row" class="scope" >{{value.user.first_name}} {{value.user.last_name}}</th>
					        <td>{{value.address}},{{value.city}},{{value.panchayat}},
								{{value.district}},Pin:{{value.pin}}</td>
					        <td>{{value.user.email}}</td>
					        <td>{{value.user.phone_no}}</td>
					        <td><img src="{{value.imageURL}}" style="width: 60%;" alt="img"></td>
                             <td><a href="/Admins/Farmerdeactivate/{{value.user.id}}/" class="btn btn-primary">Dectivate</a></td>
					      </tr>
						 {% endfor %}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>

	</section>
{% endblock content %}
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

