{% extends 'admin/farmerdsearchmain.html' %}
{% load static %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Store</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'narrow-jumbotron.css' %}" rel="stylesheet">
    <style>
         .circle-image {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Adjust the width and height to create a circular shape */
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

    </style>
  </head>
</center>
  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href=""><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>

      </div>

      <div class="jumbotron">
        <center><h3 class="text-muted">THANK YOU FOR BEING THE PART OF AGRIKART</h3></center>
     <center>

  <img src="{% static 'admin/ezgif.com-crop.gif' %}" alt="GIF">
</div>
</center>

      </div>

    </div> <!-- /container -->

  </body>
  </center>
{% endblock content %}

</html>